<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-black text-sm py-5"
>
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between"
    aria-label="Global"
  >
    <a
      class="sm:order-1 flex-none text-[2xl] font-semibold text-white"
      routerLink="/"
    >
      <img src="../../../assets/logo.svg" class="text-white h-[1.5rem]" />
    </a>
    <div class="sm:order-3 flex items-center gap-x-2">
      <button
        type="button"
        class="sm:hidden hs-collapse-toggle p-2.5 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10"
        data-hs-collapse="#navbar-alignment"
        aria-controls="navbar-alignment"
        aria-label="Toggle navigation"
      >
        <svg
          class="hs-collapse-open:hidden flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          strokeWidth="2"
          strokeLinecap="round"
          strokeLinejoin="round"
        >
          <line x1="3" x2="21" y1="6" y2="6" />
          <line x1="3" x2="21" y1="12" y2="12" />
          <line x1="3" x2="21" y1="18" y2="18" />
        </svg>
        <svg
          class="hs-collapse-open:block hidden flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          strokeWidth="2"
          strokeLinecap="round"
          strokeLinejoin="round"
        >
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
      @if(isLoggedIn){
      <button
        type="button"
        class="text-[1rem] py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800"
        (click)="logOutUser()"
      >
        logout
      </button>
      }@else {
      <a
        routerLink="/login"
        class="text-[1rem] py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800"
      >
        login
      </a>

      <a
        routerLink="/register"
        class="text-[1rem] py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800"
      >
        Signup
      </a>

      }
    </div>
    <div
      id="navbar-alignment"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2"
    >
      <div
        class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:mt-0 sm:ps-5"
      >
        <a
          class="font-medium text-xl text-gray-400 hover:text-gray-200"
          routerLink="/"
        >
          Home
        </a>
        <a
          class="font-medium text-xl text-gray-400 hover:text-gray-200"
          routerLink="/products"
        >
          Products
        </a>
        <a
          class="font-medium text-xl text-gray-400 hover:text-gray-200"
          routerLink="/contact"
        >
          Contact
        </a>
        <a
          class="font-medium text-xl text-gray-400 hover:text-gray-200 relative pr-3 py-2 z-4"
          routerLink="/cart"
        >
          Cart @if(cartItemsCount > 0){
          <span
            class="absolute top-1 right-0 text-[0.9rem] leading-[8px] z-2 bg-gray-300 text-gray-800 p-[0.3rem] rounded-full"
          >
            {{ cartItemsCount }}
          </span>
          }
        </a>
      </div>
    </div>
  </nav>
</header>
