<mat-card class="user-registration-card">
  <mat-card-title>User Registration</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userRegistration" (ngSubmit)="submitUserData()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name" required />
        @if(userRegistration.get('name')?.hasError('required')){
        <mat-error>Name is required</mat-error>
        }@else if (userRegistration.get('name')?.hasError('pattern')) {
        <mat-error>Name should contain Alphabets Only</mat-error>
        }@else if(userRegistration.get('name')?.hasError('minlength')){
        <mat-error>Name must have at least 2 characters</mat-error>
        }@else if(userRegistration.get('name')?.hasError('maxlength')){
        <mat-error>Name can not have more than 30 characters</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required type="email" />
        @if(userRegistration.get('email')?.hasError('required')){
        <mat-error>Email is required</mat-error>
        }@else if (userRegistration.get('email')?.hasError('email')) {
        <mat-error>Please Enter Valid Email</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="phone" required />
        @if (userRegistration.get('phone')?.hasError('required')) {
        <mat-error>Mobile Number is required</mat-error>
        }@else if(userRegistration.get('phone')?.hasError('pattern')){
        <mat-error>Please Enter Valid Mobile Number</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="passwordHide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="changePasswordVisibility($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordHide"
        >
          <mat-icon>{{
            passwordHide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (userRegistration.get('password')?.hasError('required')) {
        <mat-error>Please Enter Password</mat-error>
        } @else if (userRegistration.get('password')?.hasError('minlength')) {
        <mat-error>Password should contain atleast 6 Characters</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Confirm password</mat-label>
        <input
          matInput
          [type]="confirmPasswordHide ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="changeConfirmPasswordVisibility($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordHide"
        >
          <mat-icon>{{
            confirmPasswordHide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (userRegistration.get('confirmPassword')?.hasError('required')) {
        <mat-error>Please Enter Password</mat-error>
        }@else if
        (userRegistration.get('confirmPassword')?.hasError('passwordMismatch'))
        {
        <mat-error>Passwords do not match</mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!userRegistration.valid"
      >
        Register
      </button>

      <p class="link">
        Already have an account?
        <a routerLink="/login">Login here</a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
