@if(cartItem !== undefined){
<div
  class="grid grid-cols-1 min-h-[180px] lg:grid-cols-2 min-[550px]:gap-6 border-t border-gray-300 py-6"
>
  <div
    class="flex items-center flex-col min-[550px]:flex-row gap-3 min-[550px]:gap-6 w-full max-xl:justify-center max-xl:max-w-xl max-xl:mx-auto"
  >
    <div class="img-box">
      <img
        [src]="[imageServer + cartItem.image]"
        alt="perfume bottle image"
        class="xl:w-[110px]"
      />
    </div>
    <div class="pro-data w-full max-w-sm">
      <h5 class="font-semibold leading-8 text-black max-[550px]:text-center">
        <a
          [routerLink]="['/products', cartItem.productId]"
          class="text-xl font-normal"
          >{{ cartItem.name }}</a
        >
      </h5>
      <p
        class="font-normal text-lg leading-8 text-gray-500 my-2 min-[550px]:my-3 max-[550px]:text-center"
      ></p>
      <h6
        class="font-medium leading-8 text-blue-700 max-[550px]:text-center"
        style="font-size: 1.1rem"
      >
        ₹ {{ cartItem.price }}
      </h6>
    </div>
  </div>
  <div
    class="flex items-center flex-col min-[550px]:flex-row w-full max-xl:max-w-xl max-xl:mx-auto gap-2"
  >
    <div class="flex items-center w-full mx-auto justify-center">
      <button
        class="group rounded-l-full px-4 py-[8px] border border-gray-400 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50"
        (click)="handleDecrement()"
      >
        <svg
          class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
        >
          <path
            d="M16.5 11H5.5"
            stroke=""
            strokeWidth="1.6"
            strokeLinecap="round"
          />
          <path
            d="M16.5 11H5.5"
            stroke=""
            strokeOpacity="0.2"
            strokeWidth="1.6"
            strokeLinecap="round"
          />
          <path
            d="M16.5 11H5.5"
            stroke=""
            strokeOpacity="0.2"
            strokeWidth="1.6"
            strokeLinecap="round"
          />
        </svg>
      </button>
      <span
        class="border-y border-gray-400 outline-none text-gray-900 font-semibold text-lg w-full max-w-[50px] min-w-[60px] placeholder:text-gray-900 py-[5px] text-center bg-transparent"
      >
        {{ quant }}
      </span>
      <button
        class="group rounded-r-full px-4 py-[8px] border border-gray-400 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50"
        (click)="handleIncrement()"
      >
        <svg
          class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
        >
          <path
            d="M11 5.5V16.5M16.5 11H5.5"
            stroke=""
            strokeWidth="1.6"
            strokeLinecap="round"
          />
          <path
            d="M11 5.5V16.5M16.5 11H5.5"
            stroke=""
            strokeOpacity="0.2"
            strokeWidth="1.6"
            strokeLinecap="round"
          />
          <path
            d="M11 5.5V16.5M16.5 11H5.5"
            stroke=""
            strokeOpacity="0.2"
            strokeWidth="1.6"
            strokeLinecap="round"
          />
        </svg>
      </button>
      <button
        class="group ml-4 px-5 py-[8px] border border-red-200 text-red-400 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 rounded-full hover:shadow-red-200 hover:border-red-300 hover:bg-red-50"
        (click)="removeFromCart()"
      >
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </div>
    <h6
      class="text-blue-700 font-manrope font-bold text-2xl leading-9 w-full max-w-[176px] text-center"
      style="font-size: 1.3rem; font-weight: 500"
    >
      ₹ {{ cartItem.price! * quant! }}
    </h6>
  </div>
</div>
}
