<div class="font-sans-serif bg-white">
  <div
    class="flex justify-center my-9 max-sm:flex-col gap-12 max-lg:gap-4 h-full"
  >
    <div class="max-w-4xl w-full h-max rounded-md px-4 py-8 sticky top-0">
      <h2 class="text-2xl font-bold text-gray-800">Complete your order</h2>
      <form [formGroup]="checkoutForm" (ngSubmit)="makePayment()">
        <div>
          <h3 class="text-base text-gray-800 mb-4">Personal Details</h3>
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <input
                type="text"
                placeholder="First Name"
                formControlName="fname"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Last Name"
                formControlName="lname"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
            <div>
              <input
                type="email"
                placeholder="Email"
                formControlName="email"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
            <div>
              <input
                type="number"
                placeholder="Phone No."
                formControlName="phone"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
          </div>
        </div>

        <div class="mt-8">
          <h3 class="text-base text-gray-800 mb-4">Shipping Address</h3>
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <input
                type="text"
                placeholder="Address Line"
                formControlName="address"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="City"
                formControlName="city"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="State"
                formControlName="state"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
            <div>
              <input
                type="number"
                placeholder="Zip Code"
                formControlName="zip"
                class="px-4 py-3 bg-gray-100 focus:bg-transparent text-gray-800 w-full text-sm rounded-md focus:outline-blue-600"
              />
            </div>
          </div>
        </div>
        <div class="mt-8">
          <h3 class="text-base text-gray-800 mb-4">Select Payment Method</h3>
          <div class="grid md:grid-cols-2 gap-4">
            <div class="relative">
              <select
                class="block appearance-none w-full bg-gray-100 border border-gray-300 text-gray-800 py-3 px-4 pr-8 rounded-md focus:bg-transparent focus:border-gray-500 focus:outline-none"
                formControlName="payment"
              >
                <option value="">Select Payment Method</option>
                <option value="cheque">Cheque</option>
                <option value="cod">Cash On Delivery</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800"
              >
                <svg
                  class="h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 14.293a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 1.414-1.414L10 11.586l5.293-5.293a1 1 0 0 1 1.414 1.414l-6 6z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="flex gap-4 max-md:flex-col mt-8">
          <button
            type="button"
            class="rounded-md px-6 py-3 w-full text-sm tracking-wide bg-transparent hover:bg-gray-100 border border-gray-300 text-gray-800 max-md:order-1"
            (click)="cancelPayment()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="rounded-md px-6 py-3 w-full text-sm tracking-wide bg-blue-600 hover:bg-blue-700 text-white"
          >
            Complete Purchase
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
